# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objective:**

- Know an Overview of Data Science Tools
- Know the Languages in Data Science
- Know Packages, APIs, Data Sets and Models  
- Know Jupyter Notebooks and JupyterLab 
- Know RStudio and GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. Numpy

|Data Science Tools|
|-|
|Rstudio|
|Pyhton|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200*60

12000

## Author
Muhammad Umar Baihaki